body {
    background: #f8f6f6;
    font-family: 'Open Sans', sans-serif;
}



#sec-titulo {
    height: 326px;
    width: 100%;
    color: white;
    background-color: black;
    background-image: url("../Images/Hands.svg");
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-family: 'Open Sans', sans-serif serif;
    font-weight: 400;
    font-size: 72px;
}

.secTitulo {
    position: relative;
    top: 30%;
    margin: 0;
    text-align: center;
}
.pestanas {
    position: relative;
    top: 50%;
    margin: 0;
    width: 100%;
    text-align: center;
}
.pestanas div div a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 7px;
}
.pestanas div div:nth-child(2) a {
    border-bottom: 6px solid #c379b2;
}
.container {
    box-shadow: 0 5px 10px -5px #202020;
    padding: 0 7%;
}
.container .row:nth-child(1) {
    text-align: center;
    padding-bottom: 7px;
}
.container p {
    text-align: justify;
}
.container li, .container-fluid li{
    text-align: justify;
}
.separador {
    width: 80%;
    height: 6px;
    background: #c379b2;
}
.img-fluid {
    width: 75px;
    height: 80px;
}
.sec1{
    margin-top: 7px;
    padding: 8% 8%;
    background-color: black;
    background-image: url("../Images/E5.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1 h1{
    text-align: center;
}
.sec1 .row div{
    padding: 2% 5%;
}
.sec2{
    margin-top: 7px;
    padding: 8% 4%;
    background-color: black;
    background-image: url("../Images/E6.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2 h1{
    text-align: center;
}
.sec2 p {
    text-align: justify;
}
.sec2 .row div{
    padding: 2% 5%;
}

.cardNosotros {
    background: white;
    padding: 60px;
    padding-bottom: 80px;
    height: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textoCard{
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height : 28px;
}
.textoCard2{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height : 32px;
}
#principios{
    height: auto;
    width: 100%;
    
    background-color: black;
    background-image: url("../Images/Nimg.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitulo{
    margin-top: 44px;
    text-align: center;
  }
  
  .subtitulo h2{
    font-family:  'Merriweather', serif;
    font-weight: 400;
    font-size: 40px;
  }

  .lista1 {
    list-style: decimal;
    text-align: left;
  }

  .lista2{
    list-style: circle;  
  }