body {
    background: #f8f6f6;
    font-family: 'Open Sans', sans-serif;
}

.EstBG {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#sec-titulo {
    height: 326px;
    width: 100%;
    color: white;
    background-color: black;
    background-image: url("../Images/Hands.svg");
    background-position: center 70%;
}

.secTitulo {
    position: relative;
    top: 30%;
    margin: 0;
    text-align: center;
}

.pestanas {
    position: relative;
    top: 50%;
    margin: 0;
    width: 100%;
    text-align: center;
}

.pestanas div div a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 7px;
}

.pestanas div div:nth-child(2) a {
    border-bottom: 6px solid #ff4650;
}

.cardNosotros {
    background: white;
    padding: 60px;
    padding-bottom: 80px;
    height: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.sec2{
    height: auto;
    padding: 8% 4%;
    box-shadow: -3px 5px 8px -5px #202020;
}

.fondo1{
    height: auto;
    width: 50vw;
    background-color: black;
    background-image: url("../Images/diseña.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo2{
    height: auto;
    width: 50vw;
    background-color: black;
    background-image: url("../Images/CalcuEvalua.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    margin: 30px 0;
}